@font-face{
font-family:20CentsMarker;
src:url(20CentsMarker.ttf);
}

*{
color:#00FF00;
background:black;
}

h1{
text-shadow:2px 1px 1px red;
width:100%;
}

a:visited,a:link{
font-size:20px;
color:#00FF00;
text-decoration:none;
}

a:hover,a:active{
font-size:23px;
color:#00FF00;
text-decoration:none;
}