@font-face{
font-family:20CentsMarker;
src:url(20CentsMarker.ttf);
}

*{
color:#00FF00;
background:black;
}

#H1{
text-shadow:2px 1px 1px red;
font-size:30px;
width:100%;
}

li{font-family:20CentsMarker;}
a:visited,a:link{font-size:20px;color:#00FF00;text-decoration:none;}
a:hover,a:active{font-size:21px;color:#00FF00;text-decoration:none;}

.dld{}