@font-face{font-family:Comic;src:url(ComicSansMS.ttf);}

*{font-family:"Comic Sans MS",Comic;color:#00FF00;background:black;}

a:visited,a:link,a:hover,a:active{font-size:20px;color:#00FF00;text-decoration:none;}

li,h1,h2,h3{text-align:center;}

#img150{width:150px;height:150px;}
#inf{color:blue;font-size:15px;}
#verde{color:green;}